.index {
    display: inline-block;

    width: 2rem;
    color: var(--roulette-gray);
}

.part-container {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    /* height: 100%; */
    flex-basis: 0;

    margin: 10px;
}

.number-input {
    width: 100%;
}
.text-input {
    width: 100%;
}

.input-box {
    display: flex;
    align-items: center;

    padding-left: 1rem;
    margin-bottom: 1rem;
}

.params {
    height: 100%;

    flex-grow: 1;
}

.center {
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
}

#result-box {
    display: flex;
    flex-direction: column;

    height: auto;
    min-height: 20rem;

    border-radius: 2rem;
    padding: 1rem;

    background-color: #e8e6ec;
}
#result-container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    flex-grow: 1;
}